{% extends 'backOffice/base.html.twig' %}

{% block body %}

    <div class="content-wrapper" dir="rtl">
        <div class="row grid-margin">
            <div class="col-lg-12">
                <div class="portlet box">
                    <div class="portlet-header">
                        <div class="caption"><a href="{{ path('bulletin_liste') }}"><i class="fa fa-mail-reply"
                                                                                       style="color: red"></i></a>قائمة
                            النشريات
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="row mbm">
                            <div class="col-lg-12">
                                <div class="table-responsive">
                                    <table id="table_id"
                                           class="table table-hover table-striped table-bordered table-advanced tablesorter display">
                                        <thead>
                                        <tr>
                                            <th>العدد</th>
                                            <th>عنوان النشرية</th>
                                            <th>وصف النشرية</th>
                                            <th> تاريخ التسجيل</th>
                                            <th>نشر</th>
                                            <th>Actions</th>
                                        </tr>
                                        <tbody>

                                        <tr>
                                            <td>{{ bulletin.id }}</td>
                                            <td>{{ bulletin.titreAr }}</td>
                                            <td> {{ bulletin.descriptionAr }}</td>
                                            <td>{{ bulletin.dateAt|date('d/m/Y') }}</td>
                                            <td>
                                                {% if bulletin.publier %}
                                                    <a href="{{ path('bulletin_publier', {'id': bulletin.id}) }}"
                                                       class="btn btn-success btn-xs" title="Activé">
                                                        <i class="fa fa-check"></i>
                                                    </a>
                                                {% else %}
                                                    <a href="{{ path('bulletin_publier', {'id': bulletin.id}) }}"
                                                       class="btn btn-danger btn-xs" title="Désactivé">
                                                        <i class="fa fa-times"></i>
                                                    </a>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {# <a href="{{ path('bulletin_ajouter', {'id': bulletin.id}) }}">
                                                     <button type="button" class="btn btn-info btn-xs mbs"><i
                                                                 class="fa fa-plus"></i>&nbsp;
                                                         Add
                                                     </button>
                                                 </a>#}

                                                <a href="{{ path('bulletin_modifier', {'id': bulletin.id}) }}">
                                                    <button type="button" class="btn btn-success btn-xs mbs"><i
                                                                class="fa fa-edit"></i>&nbsp;
                                                        تحيين
                                                    </button>
                                                </a>
                                                <a href="{{ path('bulletin_supprimer', {'id': bulletin.id}) }}">
                                                    <button type="button" class="btn btn-danger btn-xs mbs"><i
                                                                class="fa fa-trash-o"></i>&nbsp;
                                                        حذف
                                                    </button>
                                                </a>
                                            </td>


                                        </tr>


                                        </tbody>

                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

{% endblock body %}