{% extends 'frontOffice/base.html.twig' %}
{% block page_title %}الأعضاء المؤسسون {% endblock %}

{% block body %}
    <!-- Team Page Start Here -->
    <div class="team-page-area">
        <div class="container">

            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-6 col-lg-offset-4">
                    <div class="single-member-area">
                        <div class="cl-single-member">
                            <figure><img class="img-responsive" src="{{ asset('frontOffice/images/membres/membre1.jpg') }}"
                                         alt="Ridisha"></figure>
                           {# <div class="overlay">
                                <h2 class="member-name"><a href="#">فتحي الجراي</a></h2>
                                <h3 class="member-title"> رئيـس</h3>
                                <div class="short-desc">

                                </div>
                                <div class="social-icons">
                                    <a href="#" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                                    <a href="#" class="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
                                    <a href="#" class="google-plus" target="_blank"><i
                                                class="fa fa-google-plus"></i></a>
                                </div>
                            </div>#}
                        </div>
                        <div class="article">
                            <h3><a href="#" data-id="1" class="cl-single-item-popup">فتحي الجراي</a> </h3>
                            <div class="member-title"> جامعة تونس</div>
                            <h4><a href="#" data-id="1" class="cl-single-item-popup">رئيس الجمعية</a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-6">
                    <div class="single-member-area">
                        <div class="cl-single-member">
                            <figure><img class="img-responsive" src="{{ asset('frontOffice/images/membres/membre6.jpg') }}"
                                         alt="عدنان غرس الأحمر "></figure>
{#
                            <div class="overlay">
                                <h2 class="member-name"><a href="#">عدنان غرس الأحمر </a></h2>
                                <h3 class="member-title">أمين المال</h3>
                                <div class="short-desc">

                                </div>
                                <div class="social-icons">
                                    <a href="#" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                                    <a href="#" class="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
                                    <a href="#" class="google-plus" target="_blank"><i
                                                class="fa fa-google-plus"></i></a>
                                </div>
                            </div>
#}
                        </div>
                        <div class="article">
                            <h3><a href="#" data-id="1" class="cl-single-item-popup">عدنان غرس
                                    لحمر </a></h3>
                            <div class="member-title">الديوان الوطني للسياحة</div>
                            <h4><a href="#" data-id="1" class="cl-single-item-popup">أمين مال</a>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6">
                    <div class="single-member-area">
                        <div class="cl-single-member">
                            <figure><img class="img-responsive" src="{{ asset('frontOffice/images/membres/membre2.jpg') }}"
                                         alt="نوفل بن معاوية "></figure>
{#
                            <div class="overlay">
                                <h2 class="member-name"><a href="#">نوفل بن معاوية </a></h2>
                                <h3 class="member-title">كاتـب عــام</h3>
                                <div class="short-desc">

                                </div>
                                <div class="social-icons">
                                    <a href="#" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                                    <a href="#" class="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
                                    <a href="#" class="google-plus" target="_blank"><i
                                                class="fa fa-google-plus"></i></a>
                                </div>
                            </div>
#}
                        </div>
                        <div class="article">
                            <h3><a href="#" data-id="1" class="cl-single-item-popup">نوفل بن
                                    معاوية </a></h3>
                            <div class="member-title">مدينة العلوم بتونس</div>
                            <h4><a href="#" data-id="1" class="cl-single-item-popup">كاتب عام</a>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6">
                    <div class="single-member-area">
                        <div class="cl-single-member">
                            <figure><img class="img-responsive" src="{{ asset('frontOffice/images/membres/membre7.jpg') }}"
                                         alt="صابر الأديب "></figure>
{#
                            <div class="overlay">
                                <h2 class="member-name"><a href="#">صابر الأديب </a></h2>
                                <h3 class="member-title">نائـب رئيـس</h3>
                                <div class="short-desc">

                                </div>
                                <div class="social-icons">
                                    <a href="#" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                                    <a href="#" class="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
                                    <a href="#" class="google-plus" target="_blank"><i
                                                class="fa fa-google-plus"></i></a>
                                </div>
                            </div>
#}
                        </div>
                        <div class="article">
                            <h3><a href="#" data-id="1" class="cl-single-item-popup">صابر الأديب</a>
                            </h3>
                            <div class="member-title">وزارة الشؤون الدينية </div>
                            <h4><a href="#" data-id="1" class="cl-single-item-popup">نائب الرئيس</a>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6">
                    <div class="single-member-area spc-o">
                        <div class="cl-single-member">
                            <figure><img class="img-responsive" src="{{ asset('frontOffice/images/membres/membre3.jpg') }}"
                                         alt="صالح الفالحي "></figure>
{#
                            <div class="overlay">
                                <h2 class="member-name"><a href="#">صالح الفالحي </a></h2>
                                <h3 class="member-title">عضو مكلف بالعلاقات الخارجية</h3>
                                <div class="short-desc">

                                </div>
                                <div class="social-icons">
                                    <a href="#" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                                    <a href="#" class="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
                                    <a href="#" class="google-plus" target="_blank"><i
                                                class="fa fa-google-plus"></i></a>
                                </div>
                            </div>
#}
                        </div>
                        <div class="article">
                            <h3><a href="#" data-id="1" class="cl-single-item-popup">صالح
                                    الفالحي </a>
                            </h3>
                            <div class="member-title">المعهد الوطني للتراث</div>
                            <h4><a href="#" data-id="1" class="cl-single-item-popup">عضو مكلف بالعلاقات الخارجية</a></h4>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6">
                    <div class="single-member-area spc-o">
                        <div class="cl-single-member">
                            <figure><img class="img-responsive" src="{{ asset('frontOffice/images/membres/membre4.jpg') }}"
                                         alt="منية الفضلاوي"></figure>
{#
                            <div class="overlay">
                                <h2 class="member-name"><a href="#">منية الفضلاوي</a></h2>
                                <h3 class="member-title">عضو مكلف بالتوثيق والإعلام</h3>
                                <div class="short-desc">

                                </div>
                                <div class="social-icons">
                                    <a href="#" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                                    <a href="#" class="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
                                    <a href="#" class="google-plus" target="_blank"><i
                                                class="fa fa-google-plus"></i></a>
                                </div>
                            </div>
#}
                        </div>
                        <div class="article">
                            <h3><a href="#" data-id="1" class="cl-single-item-popup">منية
                                    الفضلاوي</a>
                            </h3>
                            <div class="member-title">الديوان الوطني للصناعات التقليدية</div>
                            <h4><a href="#" data-id="1" class="cl-single-item-popup"> عضو مكلف بالتوثيق والإعلام</a></h4>


                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6">
                    <div class="single-member-area spc-o">
                        <div class="cl-single-member">
                            <figure><img class="img-responsive" src="{{ asset('frontOffice/images/membres/membre5.jpg') }}"
                                         alt="رملة الحصايري  "></figure>
{#
                            <div class="overlay">
                                <h2 class="member-name"><a href="#">رملة الحصايري </a></h2>
                                <h3 class="member-title">عضو مكلف بالإنخراطات</h3>
                                <div class="short-desc">

                                </div>
                                <div class="social-icons">
                                    <a href="#" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                                    <a href="#" class="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
                                    <a href="#" class="google-plus" target="_blank"><i
                                                class="fa fa-google-plus"></i></a>
                                </div>
                            </div>
#}
                        </div>
                        <div class="article">
                            <h3><a href="#" data-id="1" class="cl-single-item-popup">رملة
                                    الحصايري </a>
                            </h3>
                            <div class="member-title">الوكالة الوطنية لإحياء التراث والتنمية الثقافية</div>
                            <h4><a href="#" data-id="1" class="cl-single-item-popup">عضو مكلف بالإنخراطات</a></h4>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}