{% extends 'backOffice/base.html.twig' %}
{% block body %}

    <div class="compose-mail">
        <div class="portlet box portlet-white">
            <div class="portlet-header">
                <div class="caption">Voir message</div>
                <div class="tools">
                    <a href="{{ path('contact_liste') }}" class="btn btn-default btn-xs"><i class="fa fa-mail-reply mln"></i>&nbsp;
                        Reply</a>&nbsp;<a href="#" data-hover="tooltip" title="" class="btn btn-default btn-xs" data-original-title="Print"><i class="fa fa-print mln"></i></a>&nbsp;<a href="#" data-hover="tooltip" title="" class="btn btn-default btn-xs" data-original-title="Trash"><i class="fa fa-trash-o mln"></i></a></div>
            </div>
            <div class="portlet-body">
                <div class="mail-content">
                    <div class="mail-sender">
                        <div class="row">
                            <div class="col-md-8"><strong>{{ contacts.nom }}&nbsp;{{ contacts.prenom }}</strong> <span>{{ contacts.email }}</span>&nbsp;
                                to
                                &nbsp;<strong>me</strong></div>
                            <div class="col-md-4"><p class="date"> 4:15AM 04 April 2014</p></div>
                        </div>
                    </div><div class="mail-view">
                         <p>{{ contacts.message }}</p>
                    </div>
                        </p>

                    </div>
                    <div class="clearfix"></div>
                    <hr>
                    <p><a href="#" class="btn btn-default btn-xs"><i class="fa fa-mail-reply mln"></i>&nbsp;
                            Reply</a>&nbsp;<a href="#" data-hover="tooltip" title="" class="btn btn-default btn-xs" data-original-title="Print"><i class="fa fa-print mln"></i></a>&nbsp;<a href="#" data-hover="tooltip" title="" class="btn btn-default btn-xs" data-original-title="Trash"><i class="fa fa-trash-o mln"></i></a></p></div>
            </div>
        </div>
    </div>
{% endblock %}