{% extends 'frontOffice/base.html.twig' %}
{% block page_title %}الصفحة الرئيسية{% endblock %}
{% block head %}
    <head>
        <!-- Plugin styles -->
        <link type="text/css" rel="stylesheet" href="{{ asset('frontOffice/ticker/css/jquery.jConveyorTicker.min.css') }}" />
        <!-- Demo styles -->
        <link type="text/css" rel="stylesheet" href="{{ asset('frontOffice/ticker/demo-files/demo-styles.css') }}" />
    </head>
{% endblock %}
{% block body %}
    <!-- Slider Section Start Here -->

    <div class="container">


        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 col-lg-offset-2 paddimg-left-none first-col">
            <div class="slider-area">
                <div class="bend niceties preview-2">
                    <div id="ensign-nivoslider" class="slides">
                        <img src="{{ asset('uploads/images/slider/slide_001.jpg') }}" alt=""
                             title=""/>
                        <img src="{{ asset('uploads/images/slider/slide_002.jpg') }}" alt=""
                             title=""/>
                        <img src="{{ asset('uploads/images/slider/slide_003.jpg') }}" alt=""
                             title="#slider-direction-1"/>
                        <img src="{{ asset('uploads/images/slider/slide_004.jpg') }}" alt=""
                             title="#slider-direction-1"/>
						<img src="{{ asset('uploads/images/slider/slide_005.jpg') }}" alt=""
                             title="#slider-direction-1"/>
                        <img src="{{ asset('uploads/images/slider/slide_006.jpg') }}" alt=""
                             title="#slider-direction-1"/>
                         <img src="{{ asset('uploads/images/slider/slide_007.jpg') }}" alt=""
                             title="#slider-direction-1"/>
                        <img src="{{ asset('uploads/images/slider/slide_008.jpg') }}" alt=""
                             title="#slider-direction-1"/>
                         <img src="{{ asset('uploads/images/slider/slide_009.jpg') }}" alt=""
                             title="#slider-direction-1"/>
                         <img src="{{ asset('uploads/images/slider/slide_010.jpg') }}" alt=""
                             title="#slider-direction-1"/>   
                         <img src="{{ asset('uploads/images/slider/slide_010.jpg') }}" alt=""
                             title="#slider-direction-1"/>   
                         <img src="{{ asset('uploads/images/slider/slide_011.jpg') }}" alt=""
                             title="#slider-direction-1"/>  
                         <img src="{{ asset('uploads/images/slider/slide_012.jpg') }}" alt=""
                             title="#slider-direction-1"/>   
                         <img src="{{ asset('uploads/images/slider/slide_013.jpg') }}" alt=""
                             title="#slider-direction-2"/>   
                         <img src="{{ asset('uploads/images/slider/slide_014.jpg') }}" alt=""
                             title="#slider-direction-2"/>   
                         <img src="{{ asset('uploads/images/slider/slide_015.jpg') }}" alt=""
                             title="#slider-direction-2"/>   
                         <img src="{{ asset('uploads/images/slider/slide_016.jpg') }}" alt=""
                             title="#slider-direction-2"/>   
                         <img src="{{ asset('uploads/images/slider/slide_017.jpg') }}" alt=""
                             title="#slider-direction-2"/>   
                         <img src="{{ asset('uploads/images/slider/slide_018.jpg') }}" alt=""
                             title="#slider-direction-2"/>   
                         <img src="{{ asset('uploads/images/slider/slide_019.jpg') }}" alt=""
                             title="#slider-direction-2"/>   
                         <img src="{{ asset('uploads/images/slider/slide_20.jpg') }}" alt=""
                             title=""/> 
                         <img src="{{ asset('uploads/images/slider/slide_21.jpg') }}" alt=""
                             title="#slider-direction-3"/> 
                         <img src="{{ asset('uploads/images/slider/slide_22.jpg') }}" alt=""
                             title="#slider-direction-3"/> 
                         <img src="{{ asset('uploads/images/slider/slide_23.jpg') }}" alt=""
                             title="#slider-direction-3"/> 
                         <img src="{{ asset('uploads/images/slider/slide_24.jpg') }}" alt=""
                             title="#slider-direction-3"/> 
                         <img src="{{ asset('uploads/images/slider/slide_25.jpg') }}" alt=""
                             title="#slider-direction-3"/> 
                         <img src="{{ asset('uploads/images/slider/slide_26.jpg') }}" alt=""
                             title="#slider-direction-3"/> 
                         <img src="{{ asset('uploads/images/slider/slide_27.jpg') }}" alt=""
                             title="#slider-direction-3"/> 
                         <img src="{{ asset('uploads/images/slider/slide_28.jpg') }}" alt=""
                             title="#slider-direction-3"/> 
                         <img src="{{ asset('uploads/images/slider/slide_29.jpg') }}" alt=""
                             title="#slider-direction-3"/> 
                         <img src="{{ asset('uploads/images/slider/slide_30.jpg') }}" alt=""
                             title="#slider-direction-5"/> 
                         <img src="{{ asset('uploads/images/slider/slide_31.jpg') }}" alt=""
                             title="#slider-direction-5"/> 
                         <img src="{{ asset('uploads/images/slider/slide_32.jpg') }}" alt=""
                             title="#slider-direction-4"/> 
                         <img src="{{ asset('uploads/images/slider/slide_33.jpg') }}" alt=""
                             title="#slider-direction-4"/> 
                         <img src="{{ asset('uploads/images/slider/slide_34.jpg') }}" alt=""
                             title="#slider-direction-4"/> 	 
        
                     </div>    
</div>					 
                  
                       <!-- direction 1 -->
                        <div id="slider-direction-1" class="slider-direction">
                            <div class="slider-content t-cn s-tb slider-1">
                               <div class="title-container s-tb-c">
                                   <div class="slider-botton">
                                     <ul>
                                         <li>
                    
                                             <span class="date">
                                                 <i class="fa fa-calendar-check-o"></i>الأربعــاء 26 جوان 2019
                                             </span>
                                         </li>
                                     </ul>
                                    </div>
                                 <h1 class="title1"><a href="#"> افتتاح نشاط الجمعية التونسية للتراث المشترك "ثقافات" بملتقى "التراث مشتركًا أو لا يكون"<br/></a></h1>
                                 <div class="title1"> 
                                </div>
                            </div>
                         </div>
                        </div>
                    
                     <!-- direction 2 -->
                        <div id="slider-direction-2" class="slider-direction">
                            <div class="slider-content t-cn s-tb slider-2">
                                <div class="title-container s-tb-c">
                                    <div class="slider-botton">
                                        <ul>
                                            <li>
                                             
                                             <span class="date">
                                                 <i class="fa fa-calendar-check-o"></i>السبت 16  نوفمبر 2019، مدينة تستــور
                                             </span>
                                            </li>
                                        </ul>
                                   </div>
                                 <h1 class="title1><a href="#"><span></span> الدورة الأولى لـ "يوم التراث الأندلسي" </a>
                                 </h1>
                                   <div class="title1">   
                                   </div>
                                </div>
                            </div>
                        </div>

                      <!-- direction 3 -->
                        <div id="slider-direction-3" class="slider-direction">
                            <div class="slider-content t-cn s-tb slider-1">
                                <div class="title-container s-tb-c">
                                   <div class="slider-botton">
                                        <ul>
                                            <li>
                                             <span class="date">
                                                 <i class="fa fa-calendar-check-o"></i>الأربعــاء 27 نوفمبــر 2019، مركـز الفنـون والثقافـة والآداب، القصر السعيد
                                             </span>
                                           </li>
                                        </ul>
                                    </div>
                                  <h1 class="title1"><a href="#"> فعاليـات التظاهـرة الثقافيّـة "محطـات من التـراث المشتـرك بيـن تونـس وإيـران عبـر التاريـخ"<br/></a></h1>
                                  <div class="title1">  </div>
                                </div>
                           </div>
                        </div>
                        <!-- direction 4 -->
                        <div id="slider-direction-4" class="slider-direction">
                           <div class="slider-content t-cn s-tb slider-2">
                               <div class="title-container s-tb-c">
                                    <div class="slider-botton">
                                        <ul>
                                            <li>
                                              <span class="date">
                                                 <i class="fa fa-calendar-check-o"></i>
                                              </span>    
                                            </li>
                                       </ul>
                                    </div>
                                 <h1 class="title1"><a href="#"><span></span>اختيار الجمعيّـة التونسيّـة للتـراث المشتـرك "ثقـافـات" كسفير رسمي للاجتمـاع العـام والمؤتمر العلمي للمجلس العالمي للمعالم والمواقع ICOMOS GA2020 </a>
                                 </h1>
                                 <div class="title1"> </div>
                                </div>
                            </div>
                        </div>
                      <!-- direction 5 -->
                        <div id="slider-direction-5" class="slider-direction">
                           <div class="slider-content t-cn s-tb slider-2">
                               <div class="title-container s-tb-c">
                                   <div class="slider-botton">
                                        <ul>
                                            <li>  
                                             <span class="date">
                                                 <i class="fa fa-calendar-check-o"></i>تونس في 02 مارس 2020
                                             </span>
                                            </li>
                                       </ul>
                                    </div>
                                    <h1 class="title1"><a href="#"><span></span>فتح باب الإنخراطات لسنة 2020 </a>
                                    </h1>
                                 <div class="title1"> </div>
                               </div>
                            </div>
                        </div>
                     
                   
                </div>
            </div>
        </div>

    </div>
    



    <div class="all-news-area">
        <div class="container">
            <div class="trending-news separator-large">
                <div class="row">
                    <div class="view-area">
                        <div class="col-sm-12">

                            <h2 class="title-bg">تعريــف جمعيّــة "ثقــافــات"</h2>
                        </div>
                    </div>
                    <div class="col-lg-12" style="text-align: justify">
                        <p style="text-align: justify; font-size: 20px; font-family: 'Sakkal Majalla';">
                            تأسست الجمعية التونسية للتراث المشترك "ثقافات" بموجب البلاغ الصادر في الرائد الرسمي
                            للجمهورية التونسية/إعلانات قانونية وشرعية وعدلية عدد 137 لسنة 2018 بتاريخ 10 نوفمبر 2018.
                            ويتنزل تأسيس هذه الجمعية في إطار دعم التوليف بين مختلف المتدخلين في مجال التراث وما يمكن أن
                            يُثمرهُ التكامل بينهم وعملا على إبراز الماضي المشترك الذي يربطنا بعديد الشعوب خدمة لتراثنا
                            الوطني وإخراجه من دائرة الجمود للتعريف به والتحسيس بأهميته وجلبا للمشاريع الاستثمارية
                            والتدخل لدى الهياكل المعنية لصيانته والمحافظة عليه.
                        </p>
                    </div>
                    <div class="col-lg-12" style="text-align: justify">
                        <p style="text-align: justify; font-size: 20px; font-family: 'Sakkal Majalla';">
                            لقد مثلت البلاد التونسية عبر التاريخ وعاء رحبا استوعب العديد من الحضارات والثقافات التي مرت
                            بها منذ ما قبل التاريخ إلى يومنا هذا ساهمت في تشكل تراث متنوّع وتبلورِ هوية متميزة ظلت تنهل
                            من الماضي وتتصالح معه وتنسجم مع الحاضر وتفعل فيه وتستشرف المستقبل وتستعدُّ لهُ. نشأت هذه
                            الثقافات ضمن إطار طبيعي متميز طبع تاريخ البلاد وتراثها وجعل منه مهدا لإرث مادي يشمل كل
                            المخلفات الأثرية والمنقولات التي زال الاعتماد عليها اليوم وكل العادات والتقاليد والمعارف
                            والثقافة الشعبية التي توارثتها الأجيال وتحولت إلى ما يعرف بالتراث غير المادي.
                        </p>
                    </div>
                    <div class="col-lg-12" style="text-align: justify">
                        <p style="text-align: justify; font-size: 20px; font-family: 'Sakkal Majalla';">
                            إن تراجع مفهوم القطيعة بين الحضارات والشعوب قابله تنامي الاقتناع بأن الهوية التونسية ما هي
                            إلا نتاج لصيرورة تاريخية لتطور مختلف الحضارات المحلية والوافدة من بربرية ونُوميديّة وفينيقية
                            ورومانية ووندالية وبيزنطية وعربية إسلامية وعثمانية وأندلسية وأوروبية ومعاصرة وغيرها... وهي
                            في الآن نفسه تنتمي إلى أكثر من إطار بداية من إطارها المغاربي ثم العربي فالإسلامي فالإفريقي
                            فالمتوسطي والكوني عامة...

                        </p>
                    </div>
                    <div class="col-lg-12" style="text-align: justify">
                        <p style="text-align: justify; font-size: 20px; font-family: 'Sakkal Majalla';">
                            من جهة أخرى، لم يعد التراث اليوم حِكرا على طرف بعينه إذ أصبح يشكّلُ مجالا مشتركا بين العديد
                            من الفاعلين من مختلف التخصصات من أثريين ومؤرخين وفنانين وجغرافيين ومهندسين معماريين
                            وسينمائيين ومسرحيين وإعلاميين وعلماء الاجتماع ومختصين في الحضارة وفي مختلف العلوم الصحيحة
                            وغيرهم... كما تعددت الهياكل المتدخلة في هذا الحقل كلٌّ حسب مجال اختصاصها مثل المؤسسات
                            القائمة على التراث والثقافة والمؤسسات الجامعية والتربوية والإعلامية ومراكز التكوين والشؤون
                            الدينية والسياحة والدفاع الوطني والصناعات التقليدية والجماعات المحلية وجمعيات المجتمع المدني
                            والتي كان لها دور كبير في الحفاظ على التراث الوطني وصيانته ولاسيما إبان الثورة سواء في إطار
                            المبادرات المدنية أو في إطار مختلف مشاريع التعاون مع الهياكل القائمة على القطاع... وقد ساهم
                            تعدد الأطراف المتدخلة في تنوّع المقاربات وتعددت المواقف وجعل هذا القطاع يستوعب الجميع عبر
                            مختلف مستويات التعامل وأشكال المعالجة.
                        </p>
                    </div>
                    <div class="col-lg-12" style="text-align: justify">
                        <p style="text-align: justify; font-size: 20px; font-family: 'Sakkal Majalla';">
                            غير أنه ولعدة اعتبارات ظلت مختلف الأطراف تشتغل بشكل منفرد ودون تنسيق كبير عدا بعض المبادرات
                            الفردية أو المشاريع الثنائية. كما لم يستفد تراث البلاد من القواسم المشتركة التي تجمعه
                            بالعديد من الشعوب وفوّتت تونس بذلك فرص هامة لتبادل التجارب والخبرات والنهل من الإمكانيات
                            المتوفرة لما فيه خير البلاد وتراثها.
                            وبالنظر إلى طبيعتها والأهداف التي تأسست لأجلها ستكون جمعية "ثقافـات" بمثابة البيت الجامع لكل
                            المتدخلين والفاعلين في التراث الوطني دون إقصاء أو تمييز. كما أنه واقتناعا بأن الثقافة
                            التونسية هي نتاج لكل الحقبات التي عرفتها البلاد عبر تاريخها الطويل فإن تفاعلها مع مختلف تلك
                            الحضارات سيكون حسب درجة تأثيرها في الهوية التونسية اليوم ومدى حضورها في الشخصية الوطنية دون
                            أي تعصّب أو إنبتات أو تعصّب.
                            ومن المؤمل أن تتمكن جمعية "ثقافــات" من حجز موقع متقدم ضمن شبكة الجمعيات المدنية التي تُعنى
                            بهذا المجال بفضل تنوع تخصصات أعضائها وتحمسهم إلى العمل الجمعياتي واقتناعهم بضرورة التكامل
                            بين مختلف التخصصات والمؤسسات ذات العلاقة بالتراث الوطني، على أن الجمعية ستبقى منفتحة على كل
                            الطاقات المؤمنة بهذه الأهداف والملتزمة بالمساهمة في تحقيقها.
                        </p>
                    </div>
                </div>


                <div class="row">
                    <div class="view-area">
                        <div class="col-sm-12">
                            <h2 class="title-bg">الأهــــــــــــــداف</h2>
                        </div>
                    </div>
                    <ul class="cercle" style="text-align: justify; font-family: 'Sakkal Majalla'; font-size:20px;">
                        <li><i class="fa fa-check-circle"></i> معاضدة المجهود الوطني في المحافظة على التراث والتعريف به
                            وتثمينه،
                        </li>
                        <li><i class="fa fa-check-circle"></i> إبراز دور التراث في تقريب الشعوب والحضارات والمصالحة
                            بينها وتحسيس الشباب بأهمية تراثه ودفعه للتصالح معه دون تعصّب ولا مغالاة،
                        </li>
                        <li><i class="fa fa-check-circle"></i> العمل على التوليف بين مختلف المتدخلين لما فيه صالح التراث
                            الوطني تصرّفا ودراسة وتوثيقا وصيانة واستثمارا وإحياء،
                        </li>
                        <li><i class="fa fa-check-circle"></i> المساهمة في جلب الاستثمارات والمشاريع الثقافية التي من
                            شأنها المحافظة على التراث والنهوض به وتثمينه،
                        </li>
                        <li><i class="fa fa-check-circle"></i> المساهمة في التعريف بالمخزون التراثي في المناسبات الوطنية
                            والدولية تكريسا للهوية الوطنية وخدمة للسياحة الثقافية،
                        </li>
                        <li><i class="fa fa-check-circle"></i> إقامة شراكات مع كل الفاعلين في المجال الثقافي والمساهمة
                            في تأطير الناشطين والباحثين في مجال التراث من طلبة ومتربصين وهياكل مجتمع مدني،
                        </li>
                        <li><i class="fa fa-check-circle"></i> التنسيق مع مختلف الجمعيات الناشطة في الحقل التراثي مثل
                            جمعيات صيانة المدن وغيرها لإقامة مشاريع تعاون أو تظاهرات مشتركة وغيرها...،
                        </li>
                        <li><i class="fa fa-check-circle"></i> تنمية الوعي بأهمية المحافظة وتثمين التراث المشترك بكل
                            تجلياته وإبراز قيمته الحضارية في التثاقف والحوار،
                        </li>
                        <li><i class="fa fa-check-circle"></i> تعزيز القدرات لكل المتدخلين في مجال التراث المشترك لتحسين
                            المردود وضمان الجودة والنجاعة في التعامل مع هذا الرصيد الحضاري.
                        </li>

                    </ul>

                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-10"style="color: #0f57a3; border-radius: 20px;">
        <h3>الشركاء والداعمون</h3>
    </div>
    <div class="container">

        <section class="center slider" dir="ltr">

            <div>
                <img src="{{ asset('uploads/images/slick/img1.jpg') }}">
            </div>
            <div>
                <img src="{{ asset('uploads/images/slick/img2.jpg') }}">
            </div>
            <div>
                <img src="{{ asset('uploads/images/slick/img3.jpg') }}">
            </div>
            <div>
                <img src="{{ asset('uploads/images/slick/img4.jpg') }}">
            </div>
            <div>
                <img src="{{ asset('uploads/images/slick/img5.jpg') }}">
            </div>
            <div>
                <img src="{{ asset('uploads/images/slick/img6.jpg') }}">
            </div>

        </section>
    </div>

    {% block script %}
        <!-- jQuery v1.10.2 or above -->
        <script src="{{ asset('frontOffice/ticker/demo-files/jquery.min.js?v=1.10.2') }}"></script>

        <!-- Syntax Highlighter -->
        <script src="d{{ asset('frontOffice/ticker/demo-files/run_prettify.js') }}"></script>

        <!-- jConveyorTicker plugin -->
        <script src="{{ asset('frontOffice/ticker/js/jquery.jConveyorTicker.min.js?v=1.0.2') }}"></script>

        <script type="text/javascript" charset="utf-8">
            $(function() {

                /*! Default options:
                 *
                 *  anim_duration: 200
                 *  reverse_elm: false
                 *
                 */

                $('.js-conveyor-1').jConveyorTicker();

                $('.js-conveyor-2').jConveyorTicker({
                    anim_duration: 100
                });

                $('.js-conveyor-3').jConveyorTicker({
                    reverse_elm: true
                });

                $('.js-conveyor-4').jConveyorTicker({
                    force_loop: true
                });

            });
        </script>


        <script type="text/javascript" charset="utf-8">
            $(function() {

                // email protection
                $('.d-js-eaddress').each(function(){
                    var mAddress = $(this).html().replace('--at--','@').replace('--dot--','.');
                    $(this).html(mAddress).attr('href', 'mailto:' + mAddress);
                });

            });
        </script>

    {% endblock %}



{% endblock %}